<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NuGet.Build.Packaging" version="0.2.2" targetFramework="monoandroid11.0" developmentDependency="true" />
  <package id="Xamarin.AndroidX.Annotation" version="1.2.0.1" targetFramework="monoandroid11.0" />
  <package id="Xamarin.AndroidX.Arch.Core.Common" version="2.1.0.9" targetFramework="monoandroid11.0" />
  <package id="Xamarin.AndroidX.Arch.Core.Runtime" version="2.1.0.9" targetFramework="monoandroid11.0" />
  <package id="Xamarin.AndroidX.Lifecycle.Common" version="2.3.1.1" targetFramework="monoandroid11.0" />
  <package id="Xamarin.AndroidX.Lifecycle.LiveData" version="2.3.1.1" targetFramework="monoandroid11.0" />
  <package id="Xamarin.AndroidX.Lifecycle.LiveData.Core" version="2.3.1.1" targetFramework="monoandroid11.0" />
  <package id="Xamarin.AndroidX.Lifecycle.ViewModel" version="2.3.1.1" targetFramework="monoandroid11.0" />
  <package id="Xamarin.AndroidX.Migration" version="1.0.8" targetFramework="monoandroid11.0" />
  <package id="Xamarin.AndroidX.MultiDex" version="2.0.1.5" targetFramework="monoandroid11.0" />
</packages>